$font-stack-running: 'ITC Charter', serif;
$font-stack-display: 'Futura W01', 'Futura', sans-serif;

$font-stack-base: $font-stack-display;

$font-size-base: 16px;
$font-size-h1: 5rem;
$font-size-large: 20px;

$line-height-base: 1.4;

$font-weight-base: 300;
$font-weight-bold: 400;
