.o-cover {
    position: relative;
    height: 100%;
    width: 100%;

    &--padded {
        padding: $spacing-base;
    }
    &--padded &__background,
    &--padded &__foreground {
        @include position($spacing-base);
    }

    &--primary &__background {
        background: $color-primary;
    }

    &__background,
    &__foreground {
        @include position();
    }
}
