.o-nav-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include query-sm() {
        flex-direction: row;
    }

    &--space-around {
        justify-content: space-around;
    }
}
