$_skew-angle: $base-angle;
$_skew-tan: tan(abs($_skew-angle)) * 100%;

.o-skew-container {
    position: relative;
    display: flex;
    flex-direction: column;

    &:before,
    &:after {
        content: '';
        display: block;
    }

    &:after {
        margin-bottom: -1 * $_skew_tan;
    }

    &__middle {
        transform: skewY($_skew-angle);
        transform-origin: left top;
        flex: 1 1 0;
        overflow: hidden;
        position: relative;
        padding: $_skew-tan 0 ($_skew-tan / 2);
    }

    &__content {
        @include position();
        transform: skewY(-1 * $_skew-angle);
        transform-origin: left top;
        margin-top: -1 * $_skew-tan;
    }

    &--auto &__middle { padding: 0; }
    &--auto &__content { position: relative; }

    &--margin#{&}:before,
    &--margin-top#{&}:before {
        margin-top: $_skew-tan;
    }

    &--margin#{&}:after,
    &--margin-bottom#{&}:after {
        margin-bottom: 0;
    }

    &--margin-half#{&}:before,
    &--margin-half-top#{&}:before {
         margin-top: 0.5 * $_skew-tan;
    }

    &--margin-half#{&}:after,
    &--margin-half-bottom#{&}:after {
        margin-bottom: -0.5 * $_skew-tan;
    }

    &--padding &__content,
    &--padding-top &__content {
        padding-top: $_skew-tan;
    }

    &--padding &__content,
    &--padding-bottom &__content {
        padding-bottom: $_skew-tan;
    }
}
