<template>
    <div class="c-flying-polygons">
        foobar!
    </div>
</template>

<script>
export default {
    data(){
        return { foo: 'bar' }
    }
}
</script>

<style lang="scss" scoped>
$foo: #bada55;
.c-flying-polygons {
    background: $foo;
    display: flex;
    flex: 1;
}
</style>
