<!DOCTYPE html>
<html>
    {% include 'head.swig' %}

<body class="{% block body_class -%}{%- endblock %}">
        {% block body %}{% endblock %}

        {% block body_js %}
            {{ js('js/index') }}
        {% endblock %}
    </body>
</html>
