@function point($x: 0, $y: $x) {
    @return (x: $x, y: $y);
}

@function point-x($point) {
    @return map-get($point, x);
}

@function point-y($point) {
    @return map-get($point, y);
}

@function center-point($point, $center-x: 50vw, $center-y: 50vh) {
    @return point(
        $center-x - point-x($point) / 2,
        $center-y - point-y($point) / 2
    );
}
