@mixin position($top: 0, $right: null, $bottom: null, $left: null) {

    @if $right == null and $bottom == null and $left == null {
        $right: $top;
        $bottom: $top;
        $left: $top;
    }

    @if $bottom == null and $left == null {
        $bottom: $top;
        $left: $right;
    }

    @if $left == null {
        $left: $right;
    }

    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}
