@function random-between($start, $end) {
    @if $start > $end {
        $swap: $end;
        $end: $start;
        $start: $swap;
    }

    @return $end - random($end - $start);
}

@function random-precision() {
    @return random(1000) / 1000;
}

@function random-point-disc($radius-x, $radius-y) {
    $random-a: random-precision();
    $random-b: random-precision();

    @if $random-b < $random-a {
        $swap: $random-b;
        $random-b: $random-a;
        $random-a: $swap;
    }

    @return point(
        $random-b * $radius-x * cos(2 * $PI * $random-a / $random-b),
        $random-b * $radius-y * sin(2 * $PI * $random-a / $random-b)
    );
}

@function random-point-circle($radius-x, $radius-y) {
    $random-angle: random-precision() * $PI * 2;

    @return point(
        cos($random-angle) * $radius-x,
        sin($random-angle) * $radius-y
    );
}
