.u-margin-top { margin-top: $spacing-base; }
.u-margin-top-half { margin-top: $spacing-half; }
.u-margin-top-double { margin-top: $spacing-double; }

.u-padding { padding: $spacing-base; }
.u-padding-h { padding: 0 $spacing-base; }
.u-padding-v { padding: $spacing-base 0; }
